.add-image img {
  height: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 8px;
}

.add-image {
  height: 100%;
  margin-right: 3vw;
}

.add-links {
  display: flex;
  flex-direction: column;
}

.add-container {
  display: flex;
  align-items: center;
  border-radius: 4px;
  height: 25vh;
}

.catalogue {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.add-filter {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 70vw;
  min-width: 800px;
  margin-right: 5vw;
  border-radius: 4px;
  padding: 10px;
  background-color: #353535;
  align-items: center;
  justify-content: center;
}

.add-filter form {
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;
}

.filter-options {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.filter-option {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.option-name {
  margin-right: 3px;
}

.adds {
  width: 70vw;
  min-width: 800px;
  margin-right: 5vw;
}

.adds a {
  color: #d9d9d9;
  text-decoration: none;
}

.add-parameters {
  margin-right: 10px;
  line-height: 18px;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: fit-content;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  color: #d9d9d9;
  line-height: inherit;
  text-align: center;
  text-align-last: center;
}

select::-ms-expand {
  display: none;
}

.select {
  width: 100%;
  border-radius: 0.25em;
  padding: 0.25em 0.25em;
  text-align: center;
  cursor: pointer;
  background-color: #454545;
}