.add-show-wrap {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  margin-right: 5vw;
}

.add-show-images {
  width: 65%;
  max-width: 65%;
  min-width: 65%;
  margin-bottom: 10px;
}

.add-show-image-active {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}

.add-show-image {
  width: 23%;
  aspect-ratio: 4/3;
  object-fit: cover;
  margin: 5px;
  cursor: pointer;
}

.add-show-img-select {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.add-show-description {
  background-color: #353535;
  padding: 10px;
  border-top: 3px solid #B44857;
}

.add-show-top {
  display: flex;
}

.add-show-properties {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: 10px;
  flex-grow: 1;
  padding: 20px;
  background-color: #353535;
}

.add-show-property {
  background-color: #3b3b3b;
  margin: 5px;
  padding: 5px;
}

.add-arrow-left {
  position: absolute;
  top: 48%;
  left: 2%;
  width: 60px;
  cursor: pointer;
}

.add-arrow-right {
  position: absolute;
  top: 48%;
  right: 2%;
  width: 60px;
  cursor: pointer;
}

.add-arrow-left:hover,
.add-arrow-right:hover {
  filter: brightness(200%);
}

.active-image {
  border: 3px solid #B44857;
  border-radius: 5px;
}

.chosen-image {
  position: relative;
}

.add-show-title {
  font-size: 18px;
  line-height: 23px;
}