.new-add {
  text-align: center;
}

.add-two-checks {
  display: flex;
  align-items: center;
}

.add-field {
  margin-bottom: 10px !important;
  margin-left: 0px !important;
}

.add-rooms input {
  width: 50px;
}

.admin-adds {
  display: flex;
  flex-direction: column;
  width: 70vw;
  min-width: 750px;
  align-items: center;
  margin-top: 2vh;
  margin-left: 5vw;
}

.add-container {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #232323;
}