.new-add {
  text-align: center;
  line-height: 20px;
  margin-bottom: 10px;
  background-color: #232323;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.add-two-checks {
  display: flex;
  align-items: center;
}

.add-field {
  margin-bottom: 10px !important;
  margin-left: 0px !important;
}

.add-rooms input {
  width: 50px;
}

.admin-adds {
  display: flex;
  flex-direction: column;
  width: 70vw;
  min-width: 750px;
  align-items: center;
  margin-top: 2vh;
  margin-left: 5vw;
}

.add-container {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #232323;
}

.admin-add-images {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  max-width: 100%;
}

.admin-add-image img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.admin-add-image {
  display: flex;
  flex-direction: column;
  flex: 1 0 21%;
  max-width: 21%;
  margin: 5px;
}