.footer {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  color: #a6a6a6;
  max-height: 5vh;
}

.contacts {
  display: flex;
}

.contact-item {
  display: flex;
  margin-right: 15px;
}

.contact-item a {
  color: #a6a6a6;
  display: flex;
}

.social-media img {
  filter: brightness(75%);
}

.footer img {
  height: 20px;
}

.footer-image {
  margin-right: 5px;
}

.footer-text a {
  color: #a6a6a6;
}