html {
  background-color: #292929;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-family: "League Spartan";
  font-size: 5vw;
  margin-left: 1vw;
  margin-right: 15vw;
}

.logo img {
  width: 10vw;
}

.nav-links {
  display: flex;
  flex-direction: row;
  font-size: 2vw;
  align-items: baseline;
  margin-top: 2vw;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 0.5vw;
}

.nav-links a.selected {
  border-bottom: 0.3vw solid #B44857;
}

.lang {
  color: white;
  margin-top: 2vw;
  margin-left: 20vw;
  font-size: 2vw;
}