html {
  background-color: #3c3c3c;
  box-sizing: border-box;
  font-size: 16px;
  min-width: 1024px;
  min-height: 720px;
}

body {
  color: #d9d9d9;
  min-width: 1024px;
  min-height: 720px;
  font-family: "Kanit";
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.hidden {
  display: none !important;
}

.page-wrap {
  min-height: 85vh;
  padding-bottom: 20px;
  position: relative;
}

.close-intro {
  position: absolute;
  right: 5%;
}

.alert {
  position: absolute;
  top: 30%;
  left: 50%;
  margin: -40px 0 0 -117px;
  background-color: #2c2c2c;
  border-radius: 5px;
  padding: 30px;
  color: #a6a6a6;
  display: flex;
}

.close {
  margin-left: 10px;
  cursor: pointer;
}

.comfortable {
  width: 100%;
  margin-bottom: 1vh;
  display: flex;
  align-items: end;
}

.intro {
  margin-top: 18vh;
  margin-bottom: 1vh;
  font-size: 18px;
  margin-left: 1vw;
}

.comfortable img {
  width: 23vw;
  min-width: 240px;
  margin-right: 2vw;
  margin-left: auto;
  height: auto;
}

.text {
  margin-top: 8vh;
  min-height: 40vh;
  margin-left: 1vw;
  margin-right: 1vw;
  word-spacing: 4px;
  line-height: calc(70% + 16px);
  font-size: 16px;
}

.pointer {
  cursor: pointer;
}

.nav a {
  text-decoration: none;
  color: #d9d9d9;
}