.slide {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 84vh;
  transition: 2s;
}

.slides {
  display: flex;
  height: 84vh;
  width: 100vw;
}

.slider {
  overflow-x: hidden;
}

.left-panel {
  position: absolute;
  top: 0;
  width: 30vw;
  min-width: 300px;
  height: 97%;
  background-color: black;
  background-color: rgba(0, 0, 0, .70);
}

.arrow-left {
  position: absolute;
  top: 40vh;
  left: 31.3%;
  cursor: pointer;
  width: 4vw;
  min-width: 40px;
}

.arrow-right {
  position: absolute;
  top: 40vh;
  right: 1vw;
  cursor: pointer;
  width: 4vw;
  min-width: 40px;
}

.arrow-left:hover,
.arrow-right:hover {
  filter: brightness(200%);
}